@model QA.Entities.View_Entities.Vw_ProjectOwnerType

@{
    bool isUpdate = (Model != null && Model.projectOwnerType.ProjectOwnerTypeID != -1) ? true : false;

    ViewBag.Title = (isUpdate) ? Localization.Global.FrmUpdate : Localization.Global.FrmCreate;
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["Status"] != null)
    {
        if ((bool)Session["Status"])
        {
            <script>
                jQuery(function () {
                    new PNotify({
                        title: '@((isUpdate)? Localization.Global.ViewDataRetrievedSuccessfully
                            : Localization.PROJECT_OWNER_TYPE.ProjectOwnerTypeAddedSuccessfully)',
                        text: '@Session["EndMessage"].ToString()',
                        type: 'success',
                        styling: 'bootstrap3'
                    });
                });
            </script>
        }
        else
        {
            <script>
                jQuery(function () {
                    new PNotify({
                        title: '@Localization.ErrorMessages.UnhandledErrorOccured',
                        text: '@Session["EndMessage"].ToString()',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                });
            </script>
        }

        Session["Status"] = null;
        Session["EndMessage"] = null;
    }
}

<div class="right_col col-lg-12" role="main">
    <div class="">
        <div class="page-title row">
            <div class="col-sm-6 col-12 text-left">
                <h3>
                    @((isUpdate) ? Localization.PROJECT_OWNER_TYPE.UpdateProjectOwnerType : Localization.PROJECT_OWNER_TYPE.CreateProjectOwnerType)
                </h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>
                            <small>@Localization.PROJECT_OWNER_TYPE.ProjectOwner_Type_Details</small>
                        </h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Create", "projectOwnerType", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.projectOwnerType.ProjectOwnerTypeID)

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.projectOwnerType.name
                                        , htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                    <div class="col-md-6 col-sm-6 col-12">
                                        @Html.EditorFor(model => model.projectOwnerType.name, new { htmlAttributes = new { @class = "form-control col-md-7 col-12" } })
                                        @Html.ValidationMessageFor(model => model.projectOwnerType.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.projectOwnerType.description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                    <div class="col-md-6 col-sm-6 col-12">
                                        @Html.TextAreaFor(model => model.projectOwnerType.description, 1, 0, htmlAttributes: new { @class = "form-control col-md-7 col-12" })
                                        @Html.ValidationMessageFor(model => model.projectOwnerType.description, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.projectOwnerType.isVendor, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                    <div class="col-md-9 col-sm-9 col-12">
                                        <div class="">
                                            <label>
                                                @Html.CheckBoxFor(model => model.projectOwnerType.isVendor, htmlAttributes: new { @class = "js-switch", @checked = "checked" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.projectOwnerType.isActive, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-12" })
                                    <div class="col-md-9 col-sm-9 col-12">
                                        <div class="">
                                            <label>
                                                @Html.CheckBoxFor(model => model.projectOwnerType.isActive, htmlAttributes: new { @class = "js-switch", @checked = "checked" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-12 col-md-offset-3">
                                        <button type="reset" class="btn btn-primary">@Localization.Global.BtnCancel</button>
                                        <button id="send" type="submit" class="btn btn-success">@Localization.Global.BtnSubmit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
