@model IEnumerable<QA.Entities.Business_Entities.Ent_CheckListFlow_Sequence>

<script src="~/Design_Template/build/js/custom.js"></script>

<div class="x_panel">
    <div class="x_title">
        <h2>@Localization.Global.SearchResults</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
               cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Localization.Global.SearchTableActions</th>
                    <th>@Localization.CheckListFlow_Sequence.name_ViewSearch</th>
                    <th>@Localization.CheckListFlow_Sequence.description_ViewSearch</th>
                    <th>@Localization.Global.boolIsActive</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_Technician</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_Technician_MD</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_SuperEng</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_SuperEng_MD</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_QALab</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_QALab_MD</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_RepSuper</th>
                    <th>@Localization.CheckListFlow_Sequence.ViewTable_RepSuper_MD</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Ajax.ActionLink(Localization.Global.SearchTableActions_View, "View", "CheckListsWF_Sequence"
                                , new { ID = @item.ID }, new AjaxOptions()
                                 {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    LoadingElementId = "imgloader",
                                    OnBegin = "ajaxViewBegin",
                                    OnSuccess = "ajaxViewSuccess",
                                    OnFailure = "ajaxViewError",
                                    UpdateTargetId = "divViewItemModal",
                        }) | @Html.ActionLink(Localization.Global.SearchTableActions_Edit, "Edit", "CheckListsWF_Sequence"
                        , new { ID = @item.ID }, null)
                    </td>
                    <td>@item.name</td>
                    <td>@item.description</td>
                    <td>@item.isActive</td>

                    <td>@item.technicianName</td>
                    <td>@item.technician_maxDays</td>

                    <td>@item.supervisorEngName</td>
                    <td>@item.superEng_maxDays</td>

                    <td>@item.qALabName</td>
                    <td>@item.qALab_maxDays</td>

                    <td>@item.representitiveSuperName</td>
                    <td>@item.repSuper_maxDays</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="x_content">
        <div id="divViewItemModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-hidden="true">
        </div>
    </div>
</div>